/* body{
    background: -webkit-linear-gradient(left, #ed563b, #c37567);
} */

/* CSS Variables */

:root {
    --red: #ed563b;
    --heading-font: 'Ubuntu', sans-serif;
    --para-font: 'Baloo Bhai 2', cursive;
}

#contact-us {
    margin-top: 2%;
}

.contact-form {
    margin-top: 2%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-form .form-group {
    padding-bottom: 1rem;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 10%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: var(--red);
    font-family: var(--heading-font);
}

.contact-form .btnContact {
    width: 50%;
    /* border: none; */
    border-radius: .8rem;
    padding: 1.5%;
    background: var(--red);
    font-weight: 600;
    color: #fff;
    padding: 7px 7px;
    cursor: pointer;
}